<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-content">
      <h3>{{footerData.heading}}</h3>
      <div class="footer-images" *ngFor="let img of footerData.content">
        <img [src]="img.image" [alt]="img.alt" />
        <video class="footer-video" [src]="img.video" autoplay loop muted playsinline controls></video>
      </div>
    </div>

    <div class="footer-bottom">

      <!-- &copy; {{ currentYear }} · Designed by Oscar Viquez, Developed by Shams Hasan · Built with Angular -->
    </div>
  </div>
</footer>