/* ==========================================================================
   Hero Container & Section
   ========================================================================== */
.hero-container {
    background: linear-gradient(315deg, #f6be4f1a 0%, #3885ac1a 100%);

}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 71px;
    padding-bottom: 50px;
}


/* ==========================================================================
   Hero Content
   ========================================================================== */
.hero-content {
    max-width: 60%;
}

.hero-heading {
    font-size: 32px;
    font-weight: 900;
    padding: 0;
}

/* sun icon */
.hero-heading>img {
    width: 55px;
    margin-left: -35px;
    position: relative;
    top: -.5px;
    transform: rotate(13deg);
}

.hero-description {
    font-size: 20px;
    line-height: 27px;
    color: #555;
    font-weight: 500;
}

/* ==========================================================================
   Hero Image & Social Links
   ========================================================================== */
.hero-image>img {
    max-width: 375px;
    height: auto;
    padding-top: 32px;
    margin-left: 100px;
    transform: scale(1.15);
    border-radius: 51%;
    padding-bottom: 12px;
}

.hero-social-links img {
    width: 18px;
    padding-right: 40px;
    height: auto;
    margin-left: 6px;
    vertical-align: middle;
    padding-bottom: 3px;

}

.hero-social-links a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px;

}

.hero-social-links {
    display: none;
}

/* =======================˝Responsiveness
   ========================================================================== */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        display: block;
        width: 100%;
        padding: 0px 15px;
        padding-bottom: 30px;
    }

    .hero-heading {
        padding-right: 10px;
    }

    .hero-image img {
        margin-left: 71px;
        margin-left: 0px;
        margin-right: 30px;
        transform: scale(1);
        padding-top: 42px;
    }

    .hero-content {
        display: inline;
    }

    .hero-social-links {
        padding-right: 0;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }

    .hero-social-links img {
        margin-left: 3px;
        padding-top: 4px;
        padding-bottom: 0px;
    }

    .hero-social-links a {
        margin-top: 20px;
        padding-left: 0px;
    }

    .hero-social-links a:hover {
        color: #0077b5;
        text-decoration: underline;
    }

    */ .hero-description {
        padding-right: 35px;
        padding-left: 5px;
    }
}