<div class="hero-container">
    <app-navbar></app-navbar>
    <div class="hero-section">
        <div class="hero-content">
            <h1 class="hero-heading">
                Shams Hasan
                <img src="assets/images/sun.jpg" alt="sun">
            </h1>
            <p class="hero-description">
                Skilled software engineer living for the thrill of bringing ideas to life ✨.
            </p>
        </div>

        <div class="hero-social-links">
            <a href="https://linkedin.com" target="_blank">
                LinkedIn
                <img src="assets/images/linkedin-icon.png" alt="LinkedIn Icon">
            </a>
            <a href="https://github.com" target="_blank">
                GitHub
                <img src="assets/images/github-icon.png" alt="GitHub Icon">
            </a>
        </div>

        <div class="hero-image">
            <img src="" alt="image">
        </div>
    </div>
</div>