/* ==========================================================================
   Hero Container & Section
   ========================================================================== */
.hero-container {
    background: linear-gradient(315deg, #f6be4f1a 0%, #3885ac1a 100%);
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 71px;
}

/* ==========================================================================
   Hero Content
   ========================================================================== */
.hero-content {
    max-width: 60%;
}

.hero-heading {
    font-size: 32px;
    font-weight: 900;
    padding: 0;
}

/* sun icon */
.hero-heading > img {
    width: 55px;
    margin-left: -35px;
    position: relative;
    top: -1px;
    transform: rotate(13deg);
}

.hero-description {
    font-size: 20px;
    line-height: 27px;
    color: #555;
    font-weight: 500;
}

/* ==========================================================================
   Hero Image & Social Links
   ========================================================================== */
.hero-image img {
    max-width: 300px;
    height: auto;
    padding-right: 71px;
}

img {
    border-radius:51%;
}

.hero-social-links {
    display: none;
}

.hero-social-links img {
    width: 18px;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}

.hero-social-links a {
    margin-left: 10px;
    color: #000;
    text-decoration: none;
}

/* ==========================================================================
   Media Queries - Mobile Responsiveness
   ========================================================================== */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        display: block;
        width: 100%;
        padding: 0px 15px;
        padding-bottom: 30px;
    }

    .hero-heading{
        padding-right: 10px;
    }
    .hero-image {
        margin-left: 71px;
        margin-top: 40px;
    }

    .hero-content {
        display: inline;
    }

    .hero-social-links {
        padding-right: 0;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }

    .hero-social-links a {
        margin: 0 22px;
        margin-top: 20px;
    }

    .hero-description {
        padding-right:35px;
        padding-left: 5px;
    }
}
