<div class="hero-container">
    <app-navbar></app-navbar>
    <div class="hero-section">
        <div class="hero-content">
            <h1 class="hero-heading">
                {{heroData.heading}}
                <img [src]="heroData.headingIcon" alt="sun icon">
            </h1>
            <p class="hero-description">
                {{heroData.description}}
            </p>
        </div>

        <div class="hero-social-links">
            <div *ngFor="let social of heroData.socials">
                <a [href]="social.links" target="_blank">
                    <span>{{ social.name }}</span>
                    <img [src]="social.icons" alt="icon">
                </a>
            </div>
        </div>

        <div class="hero-image">
            <img [src]="heroData.image" alt="profile picture">
        </div>
    </div>
</div>