/* Project image(s) */
.project-card .project-images {
    width: 1050px;
    height: 580px;
    border-radius: none;
    display: block;
    border-radius: 14px;
    margin: 110px auto auto auto;
    object-fit: cover;
}

.project-card {
    padding-top: 40px;
}
.project-card p {
    color: #484848;
}

.project-images {
    border: .75px solid black;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: middle;
    color: white;
}

.demo-btn {
    background-color: #002a43;
    border-radius: 14px;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.demo-btn:hover {
    opacity: 0.9;
}

.github-btn {
    padding-right: 71px;
    padding-top: 12px;
    margin-left: 12px;
    color: #002a43;
    vertical-align: middle;
}

.github-btn > img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-bottom: -2px;
}
div {
    margin-bottom: 22px;
}

h3,
p,
.badges {
    text-align: left;
    margin-left: 71px;
}

.project-badges {
    color: rgba(28, 98, 137, 1);
    border-radius: 50px;
    border: 0px solid #3c84ac1a;
    padding: 8px 16px;
    padding-left: 16px;
    background-color: rgba(60, 132, 172, 0.1);
    font-size: 14px;
    gap: 8px;
}
.project-badges + span {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    margin-left: 8px;
}

/* Project GitHub and Demo buttons */
.project-buttons {
    margin-top: 40px;
    display: flex;
    gap: 8px;
    color: white;
    font-size: 16px;
    justify-content: flex-end;
    margin-top: -127px;
    padding-right: 71px;
}

.project-buttons a {
    float: right;
    border-radius: 14px;
}

.project-buttons a + a {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .project-buttons {
        position: absolute;
        right: 0px;
        margin-top: 40px;
        display: flex;
        gap: 8px;
        top: 808px;
        color: white;
        font-size: 16px;
    }
}
