#about-section {
    scroll-margin-top: 75px !important;
}

.about-container {
    margin-top: 80px;
}

.about-section {
    display: flex;
}

.about-content {
    padding-left: 71px;
    margin-right: 200px;
    flex-direction: column;
    display: flex;
}

.about-header {
    font-size: 24px;
}

.about-description {
    line-height: 1.5;
    white-space: pre-line;
    display: flex;
    gap: 16px;
    color: rgba(72, 72, 72, 1);
}

.about-description-column {
    margin: 0;
}

.about-image {
    flex: 0 0 450px !important;
    min-width: 381px !important;
    max-width: 550px !important;
    width: 550px !important;
    height: 310px;
    border-radius: 14px;
    margin-right: 71px;
}